#about {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: 0 auto; }
  #about .about_foto {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    #about .about_foto img {
      width: 80%;
      height: auto;
      border-radius: 8px; }
  #about .about_text {
    width: 60%;
    height: auto; }
    #about .about_text h2 {
      text-align: center;
      font-weight: bold;
      padding: 10px;
      color: var(--text); }
    #about .about_text p {
      color: var(--text);
      padding: 20px;
      text-align: justify; }

#resume {
  height: auto;
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
  color: var(--text); }
  #resume .res {
    flex: 1;
    display: flex;
    flex-direction: column; }
    #resume .res .hero-res {
      border-left: 2px solid var(--colore1);
      padding: 0 0 20px 20px;
      flex: 1;
      margin: 10px 0 50px 10px;
      position: relative; }
      #resume .res .hero-res::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50px;
        left: -10px;
        top: 0;
        background: white;
        border: 2px solid var(--colore); }
      #resume .res .hero-res .content .data {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px auto 5px;
        padding: 8px;
        border-radius: 3px;
        background: #f5bdd0;
        width: 140px;
        max-width: 180px;
        color: var(--bg);
        font-weight: bold; }
      #resume .res .hero-res .content h3 {
        font-weight: bold;
        padding: 0 5px 5px 20px; }
      #resume .res .hero-res .content p {
        padding: 30px 5px 15px 15px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
      #resume .res .hero-res .content ul {
        padding: 20px;
        list-style: disc; }
        #resume .res .hero-res .content ul li {
          text-transform: uppercase;
          font-weight: bolder;
          margin: 10px; }

/*sezione libro*/
#libro {
  height: auto;
  width: 90%;
  margin: 0 auto; }
  #libro .container {
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 25px;
    background-color: var(--colore);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; }
    #libro .container .foto {
      padding: 20px;
      height: auto;
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center; }
      #libro .container .foto img {
        width: 36vmin; }
    #libro .container .play {
      font-size: 50px;
      cursor: pointer;
      color: var(--bg); }

@media (max-width: 600px) {
  #libro .container {
    flex-direction: column; }
    #libro .container .play {
      padding: 15px; }
    #libro .container .foto {
      padding: 15px; } }

@media (max-width: 1200px) {
  #about {
    flex-direction: column-reverse;
    width: 100%; }
    #about .about_foto,
    #about .about_text {
      width: 100%; }
    #about .about_foto img {
      width: 60%; } }

@media (max-width: 768px) {
  #resume {
    flex-direction: column; } }
