/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*scroll smooth*/
html {
  scroll-behavior: smooth; }

:root {
  --colore: hsl(278, 31%, 35%);
  --colore1: hsl(339, 73%, 65%);
  --bg: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 0%);
  /*colori specifici*/
  --header: hsl(278, 31%, 35%); }

@media (prefers-color-scheme: dark) {
  :root {
    --colore: hsl(278, 31%, 35%);
    --colore1: hsl(339, 73%, 65%);
    --bg: hsl(0, 0%, 0%);
    --text: hsl(0, 0%, 100%); } }

body[data-theme="light"] {
  --colore: hsl(278, 31%, 35%);
  --colore1: hsl(339, 73%, 65%);
  --bg: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 0%);
  /*colori specifici*/
  --header: hsl(278, 31%, 35%); }

body[data-theme="dark"] {
  --colore: hsl(278, 31%, 35%);
  --colore1: hsl(339, 73%, 65%);
  --bg: hsl(0, 0%, 0%);
  --text: hsl(0, 0%, 100%); }

body {
  color: var(--text);
  scroll-behavior: smooth;
  background: var(--bg);
  transition: 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335); }

/*selezione e scroll*/
::selection {
  color: black;
  background: #fcd7d7; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-thumb {
  background: #837d7d;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #837d7d; }

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: inset 7px 10px 12px #f0f0f0; }

/*grandezza testo responsive*/
h1,
h2 {
  font-family: "Libre Baskerville", serif;
  font-size: calc(24px + (46 - 24) * ((100vw - 320px) / (1600 - 300)));
  transition: 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: calc(0.9rem + 1.6vmin);
  transition: 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

a,
li,
span {
  color: var(--text);
  text-decoration: none;
  font-size: calc(0.5rem + 1vmin);
  transition: 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

p {
  font-family: sans-serif;
  font-size: calc(0.5rem + 1.1vmin);
  transition: 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*grandezza icone*/
i {
  color: var(--text);
  font-size: 20px;
  padding: 5px;
  transition: 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06); }

/*bottone*/
.bottone {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: white;
  background: var(--colore1);
  border: none;
  border-radius: 5px;
  transition: 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  margin: 20px;
  font-size: 14px;
  cursor: pointer; }

.bottone:hover {
  border: 4px solid var(--colore);
  color: var(--text);
  background: none;
  font-weight: bold; }

/*stile section*/
section {
  padding: 30px 15px; }
