#footer {
  height: auto;
  background: var(--text);
  color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px; }
  #footer span,
  #footer a,
  #footer i,
  #footer p {
    color: var(--bg);
    padding: 5px;
    border-radius: 5px; }
  #footer .social {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    #footer .social a {
      margin: 15px; }
      #footer .social a i {
        font-size: 25px; }
    #footer .social .whatsapp:hover {
      background-color: #41c352; }
    #footer .social .instagram:hover {
      background-color: #eb3d57; }
    #footer .social .facebook:hover {
      background-color: #3b5897; }
