main {
  margin-left: 280px; }

.header {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 280px;
  height: 100%;
  background: var(--header);
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  /*colore testo header*/
  /*menu*/ }
  .header h1,
  .header a,
  .header p,
  .header li {
    color: white; }
  .header .info {
    margin: 10px; }
    .header .info img {
      margin: 10px auto;
      display: block;
      width: 120px;
      border: 6px solid var(--colore);
      border-radius: 50%;
      transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
      cursor: pointer; }
    .header .info h1 {
      text-align: center; }
    .header .info .social {
      display: flex;
      align-items: center;
      justify-content: center; }
      .header .info .social i {
        padding: 10px;
        background: var(--bg);
        margin: 15px;
        border-radius: 8px;
        transition: 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        box-shadow: 1px 8px 13px 5px rgba(34, 34, 34, 0.33); }
        .header .info .social i:hover {
          background: var(--text);
          color: var(--bg); }
  .header ul {
    display: flex;
    flex-direction: column;
    padding-top: 20px; }
    .header ul li {
      padding: 10px;
      margin: 10px;
      display: flex;
      align-items: center; }
      .header ul li i {
        color: #b6b8c9;
        font-weight: bold;
        cursor: pointer; }
      .header ul li a span {
        margin-left: 40px;
        color: white;
        font-weight: 300; }
  .header #light,
  .header #dark {
    padding: 10px;
    font-size: 25px;
    color: #d3d34a;
    cursor: pointer;
    display: none; }
  .header #light.active,
  .header #dark.active {
    display: block;
    margin: 0 auto; }

.header-mob {
  width: 100%;
  height: 8vh;
  background: none;
  position: fixed;
  display: flex;
  align-items: center;
  display: none;
  z-index: 999; }
  .header-mob .button {
    width: 100%;
    height: 100%;
    position: relative; }
    .header-mob .button i {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      cursor: pointer;
      color: var(--bg);
      font-size: 30px;
      font-weight: bold; }

#homepage {
  width: 100%;
  height: 100vh;
  background: url(/assets/homepage/hero-bg.jpg) no-repeat center center #757474;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 0; }
  #homepage .hero {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #homepage .hero h1 {
      padding: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center; }
    #homepage .hero p {
      padding: 10px;
      line-height: 2rem;
      letter-spacing: 2px;
      font-weight: 400; }
      #homepage .hero p span {
        font-weight: bold;
        color: var(--colore1);
        margin-bottom: 5px;
        border-bottom: 4px solid var(--colore1); }

/*media*/
@media (max-width: 1024px) {
  main {
    margin-left: 0; }
  .header-mob {
    display: block; }
  .header-mob.active {
    background: var(--header); }
  .header {
    width: 220px;
    left: -100%;
    transition: 1s cubic-bezier(0.23, 1, 0.32, 1); }
  .header.active {
    left: 0; }
  #homepage .hero h1 {
    padding: 0; } }

@media (max-width: 320px) {
  #homepage h1 {
    position: absolute;
    top: 40vh; }
  #homepage p {
    position: absolute;
    top: 48vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0; }
  #homepage .typed-cursor {
    display: none; } }
