/*import file css*/
@import url(/css/home.css);
@import url(/css/about.css);

/*import file css delle librerie*/
@import url("/librerie/boxicons/css/boxicons.min.css");

/*iimport font*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap"); /*font-family: 'Baloo 2', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap"); /*font-family: 'Libre Baskerville', serif;*/

/*impostazioni generali*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/*variabili e cambio tema*/
html[data-theme="light"] {
   /*colori generali*/
   --colore: hsl(278, 31%, 35%);
   --colore1: hsl(339, 73%, 65%);
   --bg: hsl(0, 0%, 100%);
   --text: hsl(0, 0%, 0%);
   /*colori specifici*/
   --header: hsl(278, 31%, 35%);
}
html[data-theme="dark"] {
   --colore: hsl(339, 73%, 65%);
   --colore1: hsl(278, 31%, 35%);
   --bg: hsl(0, 0%, 0%);
   --text: hsl(0, 0%, 100%);
   /*colori specifici*/
   --header: hsl(0, 0%, 100%);
}
body {
   color: var(--text);
   scroll-behavior: smooth;
   background: var(--bg);
}
/*selezione e scroll*/
::selection {
   color: black;
   background: rgb(252, 215, 215);
}
::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}
::-webkit-scrollbar-thumb {
   background: #837d7d;
   border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
   background: #837d7d;
}
::-webkit-scrollbar-track {
   background: #ffffff;
   border-radius: 8px;
   box-shadow: inset 7px 10px 12px #f0f0f0;
}
a {
   color: var(--text);
   text-decoration: none;
}
li {
   list-style: none;
}
/*grandezza testo*/
h1,
h2,
h3 {
   font-family: "Libre Baskerville", serif;
   font-size: 2rem;
}
p,
li,
a {
   font-family: sans-serif;
   font-size: 1.1rem;
}
@media (max-width: 768px) {
   h1,
   h2,
   h3 {
      font-size: 1.6rem;
   }
   p,
   li,
   a {
      font-size: 0.9rem;
   }
}
@media (max-width: 360px) {
   h1,
   h2,
   h3 {
      font-size: 1.2rem;
   }
}
/*grandezza icone*/
i {
   font-size: 20px;
   color: var(--text);
}
/*bottone*/
.bottone {
   width: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 12px;
   color: hsl(0, 0%, 100%);
   background: var(--colore1);
   border: none;
   border-radius: 5px;
   transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
   margin: 20px;
   font-size: 14px;
}
.bottone:hover {
   border: 5px solid var(--colore);
   color: var(--text);
   background: none;
   font-weight: bold;
}
/*stile section*/
section {
   padding: 30px 15px;
}
