@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
.homepage .navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px 50px 10px 70px;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  cursor: pointer;
  height: 10vh;
  z-index: 10;
  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .homepage .navbar ul {
    position: fixed;
    top: 9vh;
    left: -100%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.39);
    z-index: 1000001; }
    .homepage .navbar ul li {
      margin: 30px; }
      .homepage .navbar ul li a {
        font-size: 36px;
        font-weight: 700;
        color: black; }
  .homepage .navbar .active {
    left: 0;
    background: white; }
  .homepage .navbar .active1 {
    left: 0;
    background: #613e76; }
    .homepage .navbar .active1 a {
      color: white; }
  @media (max-width: 678px) {
    .homepage .navbar {
      padding: 10px 20px 10px 20px; } }
  .homepage .navbar #logo {
    width: 45px; }
  .homepage .navbar #menu_open {
    font-size: 40px; }

.homepage .active-nav {
  background: #613e76;
  color: white; }

.homepage .hero_section {
  height: 100vh;
  padding: 15vh 0 2vh 0;
  position: relative;
  display: flex;
  flex-direction: row; }
  @media (max-width: 768px) {
    .homepage .hero_section {
      flex-direction: row; } }
  .homepage .hero_section .hero {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

.homepage .hero1 {
  width: 90%;
  display: flex;
  flex-direction: row; }
  @media (max-width: 768px) {
    .homepage .hero1 {
      flex-direction: column-reverse; } }
  .homepage .hero1 .sub-hero1 {
    height: 100%;
    width: 100%; }
  .homepage .hero1 .text {
    padding-top: 10vh; }
    .homepage .hero1 .text .title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .homepage .hero1 .text .title h1 {
        padding-top: 10px;
        text-align: center; }
      .homepage .hero1 .text .title sub {
        color: #e7659d;
        padding-top: 5px;
        font-size: 1.2rem; }
      .homepage .hero1 .text .title p {
        text-align: center;
        padding-top: 12px;
        padding: 10px; }
    .homepage .hero1 .text .button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 260px;
      height: 50px;
      border: 4px solid #e7659d;
      padding: 20px;
      border-radius: 7px;
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      margin: 0 auto;
      margin-top: 30px;
      cursor: pointer; }
      .homepage .hero1 .text .button:hover {
        box-shadow: 0 0 40px 40px #e7659d inset;
        color: white; }
    .homepage .hero1 .text .scroll {
      padding-top: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      cursor: pointer;
      transition: 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .homepage .hero1 .text .scroll i,
      .homepage .hero1 .text .scroll p {
        margin-right: 20px;
        font-weight: bold; }
  .homepage .hero1 .blob {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .homepage .hero1 .blob .blob_svg {
      width: 32vmax;
      fill: #613e76; }
    .homepage .hero1 .blob .blob_image {
      width: 140px; }

.homepage .social {
  display: flex;
  flex-direction: row;
  display: none;
  padding: 30px;
  cursor: pointer; }
  @media (max-width: 768px) {
    .homepage .social {
      flex-direction: row; } }
  .homepage .social i {
    margin: 10px;
    padding: 10px; }
    .homepage .social i:hover {
      transform: scale(1.22);
      transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); }

@media (max-width: 768px) {
  .homepage .hero_section .hero,
  .homepage .hero1 .text .scroll {
    display: none; }
  .homepage .navbar .social {
    display: block; }
  .homepage .hero_section .hero1 {
    width: 100%; }
  .homepage .hero1 .blob .blob_svg {
    width: 32vmax; }
  .homepage .hero1 .text {
    padding: 0;
    height: 120%; }
  .homepage .hero1 .blob {
    padding-top: 20px;
    height: 80%; }
  .homepage .hero_section {
    padding: 35px 0 10px 0; }
  .homepage .hero1 .text .button {
    width: 220px;
    height: 50px;
    border: 4px solid #e7659d;
    padding: 20px;
    border-radius: 7px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }
    .homepage .hero1 .text .button:hover {
      box-shadow: 0 0 40px 40px #e7659d inset;
      color: white; } }

.about {
  color: #e7659d; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

::selection {
  color: black;
  background: #fcd7d7; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-thumb {
  background: #837d7d;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #837d7d; }

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: inset 7px 10px 12px #f0f0f0; }

p,
span,
li,
a {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif; }
  @media (max-width: 7688px) {
    p,
    span,
    li,
    a {
      font-size: 0.9rem; } }

h1,
h2,
h3 {
  font-size: 2rem;
  font-family: "Merriweather", serif; }
  @media (max-width: 678px) {
    h1,
    h2,
    h3 {
      font-size: 1.4rem; } }
  @media (max-width: 360px) {
    h1,
    h2,
    h3 {
      font-size: 1.1rem; } }

li {
  list-style: none; }

a {
  text-decoration: none; }

i {
  font-size: 25px; }

.ov {
  overflow: hidden; }
