//MIXIN PER I DISPLAY FLEX E GRID

//mixin per grid
@mixin grid($col, $col1, $col2) {
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat($col, 1fr);
   margin: 0 auto;
   @media (max-width: 481px) {
      grid-template-columns: repeat($col1, 1fr);
   }
   @media (min-width: 481px) and (max-width: 1024) {
      grid-template-columns: repeat($col2, 1fr);
   }
}

//mixin per flex
@mixin flex($d1, $d2) {
   display: flex;
   flex-direction: $d1;
   @media (max-width: 768px) {
      flex-direction: $d2;
   }
}

//mixin per flex center
@mixin flex1($align, $justify, $direction) {
   display: flex;
   align-items: $align;
   justify-content: $justify;
   flex-direction: $direction;
}

//mixin per navbar
@mixin navbar {
   @include flex1(center, space-around, row);
   padding: 10px 50px 10px 70px;
   height: auto;
   width: 100%;
   position: fixed;
   top: 0;
   cursor: pointer;
   ul {
      position: fixed;
      top: 10vh;
      left: -100%;
      height: 100%;
      width: 100%;
      //backdrop-filter: blur(25px);
      background: $colore4;
      @include flex1(center, center, column);
      transition: all 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.39);
      z-index: 1000001;
      li {
         margin: 30px;
         a {
            font-size: 36px;
            font-weight: 700;
            color: black;
         }
      }
   }
   .active {
      left: 0;
   }
   @media (max-width: 678px) {
      padding: 10px 20px 10px 20px;
   }
}
// mixin per bottoni
@mixin button($width, $height, $color, $px) {
   width: $width;
   height: $height;
   border: $px solid $color;
   padding: 20px;
   border-radius: 7px;
   transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
   &:hover {
      box-shadow: 0 0 40px 40px $color inset;
      color: $colore4;
   }
}
//mixin per bg hero
@mixin bgHero($url) {
   height: 100vh;
   color: $colore4;
   background: url($url) #4d4c4c;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-blend-mode: multiply;
}
//mixin per testo
@mixin text {
   font-size: 1.1rem;
   font-family: $fontText;
   @media (max-width: 7688px) {
      font-size: 0.9rem;
   }
}
//mixin per titolo
@mixin title {
   font-size: 2rem;
   font-family: $fontTitle;
   @media (max-width: 678px) {
      font-size: 1.4rem;
   }
   @media (max-width: 360px) {
      font-size: 1.1rem;
   }
}
//mixin per card total width
@mixin card-total {
   width: 100%;
   height: auto;
   padding: 10px;
}
