//sezione about
#about {
   height: auto;
   width: 100%;
   display: flex;
   flex-direction: row;
   max-width: 1300px;
   margin: 0 auto;
   //sezione foto
   .about_foto {
      width: 40%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
         width: 80%;
         height: auto;
         border-radius: 8px;
      }
   }
   //about text
   .about_text {
      width: 60%;
      height: auto;
      h2 {
         text-align: center;
         font-weight: bold;
         padding: 10px;
         color: var(--text);
      }
      p {
         color: var(--text);
         padding: 20px;
         text-align: justify;
      }
   }
}
//sezione resume
#resume {
   height: auto;
   display: flex;
   max-width: 90%;
   margin: 0 auto;
   padding: 10px;
   color: var(--text);
   //stile sezione figlia
   .res {
      flex: 1;
      display: flex;
      flex-direction: column;
      //stile sezione figlia del figlio
      .hero-res {
         border-left: 2px solid var(--colore1);
         padding: 0 0 20px 20px;
         flex: 1;
         margin: 10px 0 0 10px;
         position: relative;
         &::before {
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 50px;
            left: -10px;
            top: 0;
            background: hsl(0, 0%, 100%);
            border: 2px solid var(--colore);
         }
         //stile content
         .content {
            //stile data
            .data {
               display: flex;
               align-items: center;
               justify-content: center;
               margin: 15px auto 5px;
               padding: 8px;
               border-radius: 3px;
               background: hsl(339, 73%, 85%);
               width: 140px;
               max-width: 180px;
               color: var(--bg);
               font-weight: bold;
            }
            //stile titolo
            h3 {
               font-weight: bold;
               padding: 0 5px 5px 20px;
            }
            //stile paragrafo
            p {
               padding: 30px 5px 15px 15px;
               font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
            }
            //stile ul
            ul {
               padding: 20px;
               list-style: disc;
               li {
                  text-transform: uppercase;
                  font-weight: bolder;
                  margin: 10px;
               }
            }
         }
      }
   }
}
@media (max-width: 1200px) {
   #about {
      flex-direction: column-reverse;
      width: 100%;
      .about_foto,
      .about_text {
         width: 100%;
      }
      .about_foto {
         img {
            width: 60%;
         }
      }
   }
}
@media (max-width: 768px) {
   #resume {
      flex-direction: column;
   }
}
