//FORM
//FOOTER
#footer {
   height: auto;
   background: var(--text);
   color: var(--bg);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 10px;
   span,
   a,
   i,
   p {
      color: var(--bg);
      padding: 5px;
      border-radius: 5px;
   }
   .social {
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      a {
         margin: 15px;
         i {
            font-size: 25px;
         }
      }
      .whatsapp:hover {
         background-color: hsl(128, 52%, 51%);
      }
      .instagram:hover {
         background-color: hsl(351, 81%, 58%);
      }
      .facebook:hover {
         background-color: hsl(221, 44%, 41%);
      }
   }
}
