//FORM
#form {
   height: auto;
   padding-bottom: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   .container {
      background: var(--text);
      color: var(--bg);
      border-radius: 5px;
      width: 100%;
      max-width: 1300px;
      height: 600px;
      display: flex;
      box-shadow: 2px 3px 12px 3px var(--shadow);
      //STILE CONTAINER INFO
      .container_info {
         flex: 1;
         display: flex;
         align-items: center;
         justify-content: center;
         iframe {
            width: 90%;
            height: 90%;
            border: none;
            border-radius: 3px;
         }
      }
      //STILE CONTAINER FORM
      .container_form {
         flex: 1;
         background: var(--bg);
         position: relative;
         &:before {
            content: "";
            position: absolute;
            width: 26px;
            height: 26px;
            background: var(--bg);
            transform: rotate(45deg);
            top: 50px;
            left: -13px;
         }
         //STILE FORM
         form {
            width: 100%;
            height: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            .parti {
               width: 100%;
               position: relative;
               //stile input
               input {
                  width: 100%;
                  outline: none;
                  border: 3px solid var(--colore);
                  background: none;
                  padding: 13px 18px;
                  margin: 20px 0px 10px 0px;
                  color: var(--text);
                  font-weight: 400;
                  letter-spacing: 0.7px;
                  border-radius: 6px;
                  text-align: center;
                  cursor: auto;
                  position: relative;
                  &::placeholder {
                     color: var(--text);
                  }
               }
               input.active {
                  border: 3px solid hsl(0, 100%, 40%); //classe errore bordi rossi
               }
               //STILE INPUT DATA CON PLACE
               #data {
                  cursor: pointer;
                  color: var(--bg);
                  transition: none;
               }
               #data.color {
                  color: var(--text);
               }
               .place {
                  position: absolute;
                  color: var(--text);
                  height: 100%;
                  left: 50%;
                  top: 50%;
                  font-weight: bold;
                  z-index: 1;
                  transform: translate(-50%, -5%);
                  visibility: visible;
                  cursor: pointer;
               }
               .place.togli {
                  visibility: hidden;
               }
            }
            //span errori
            .errore {
               color: hsl(0, 0%, 100%);
               font-size: calc(0.4rem + 0.8vmin);
               margin: 0 auto;
               background: hsl(0, 100%, 40%);
               border-radius: 3px;
               padding: 15px;
               font-weight: bold;
               visibility: hidden;
            }
            .errore.active {
               visibility: visible;
            }
            //bottone send
            .bottone {
               background: rgb(56, 172, 56);
               color: hsl(0, 0%, 100%);
               max-width: 200px;
               margin: 20px auto;
               padding: 20px;
               font-weight: 600;
               border-radius: 8px;
               &:hover {
                  font-weight: 600;
                  border: none;
                  transform: scale(1.1);
               }
            }
         }
      }
   }
}
//FOOTER
#footer {
   height: auto;
   background: var(--text);
   color: var(--bg);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   padding: 10px;
   //stile informazioni
   .informazioni {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 10px;
      span {
         margin-top: 10px;
         color: var(--bg);
         a {
            color: var(--bg);
         }
      }
   }
   //stile social
   .social {
      flex: 1;
      display: flex;
      justify-content: start;
      flex-direction: row;
      flex: 1;
      a {
         padding: 10px;
         margin: 10px;
         border-radius: 6px;
         transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
         i {
            font-size: 30px;
            color: var(--bg);
         }
      }
      a:nth-child(1):hover {
         background-color: hsl(128, 52%, 51%);
         --bg: hsl(0, 0%, 100%);
      }
      a:nth-child(2):hover {
         background-color: hsl(351, 81%, 58%);
         --bg: hsl(0, 0%, 100%);
      }
      a:nth-child(3):hover {
         background-color: hsl(221, 44%, 41%);
         --bg: hsl(0, 0%, 100%);
      }
   }
}
//MEDIA
@media (max-width: 768px) {
   //stile form
   #form {
      .container {
         flex-direction: column;
         height: 750px;
         //stile iframe
         .container_info {
            iframe {
               width: 100%;
               height: 100%;
               border: none;
               border-radius: 0;
            }
         }

         //STILE CONTAINER FORM
         .container_form {
            &:before {
               display: none; //nascondo il triangolino
            }
         }
      }
   }
   //stile footer
   #footer {
      flex-direction: column;
   }
}
