@import "var";
@import "mixin";
@import "home";
@import "about";
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
//Import dei font
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"); //"Merriweather", serif
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap"); // 'Poppins', sans-serif;

//scrollbar e selezione
::selection {
   color: black;
   background: rgb(252, 215, 215);
}
::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}
::-webkit-scrollbar-thumb {
   background: #837d7d;
   border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
   background: #837d7d;
}
::-webkit-scrollbar-track {
   background: #ffffff;
   border-radius: 8px;
   box-shadow: inset 7px 10px 12px #f0f0f0;
}
//stili generali
p,
span,
li,
a {
   @include text;
}
h1,
h2,
h3 {
   @include title;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
}
i {
   font-size: 25px;
}
